


<!-- first component video  -->
<app-video></app-video>

<!-- toast menu begin -->
<div class="toolbar" role="banner">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
      <a routerLinkActive="active" routerLink="video-component">
          <button mat-menu-item>           
               start video
          </button>
      </a>
      <!-- <button mat-menu-item>
          <span>statistics</span>
      </button> -->
  </mat-menu>

  <!-- menu title -->
  {{title}} 
    
</div>
<!-- toast menu end-->

<router-outlet></router-outlet>